body{
    font-family: sans-serif ;

}
#main{
    display: flex;
    flex-direction: column;
    background-color: #c6c0c0;
    margin: 20px ;
    padding: 10px;
    align-content: center;
    justify-content: center;
}
#image{
display: block;
    margin: 0 auto;
    max-width: 50%;
}
#img-div{
    background-color: white;
}
#title,#subtitle , #img-caption ,#tribute-info, #link{ text-align: center}

ul {
    width: 50%;
    margin: 0 auto;
}

ul > li {
    margin: 20px;
}

#quote {
    padding: 10px;
    
    text-align: left;
    margin: 0 auto;
    width: 50%;
    font-style: italic;
}

#reff {
    width: 50%;
    margin: 0 auto;
    font-style: italic;
}